.container-fluid.np
    .col-xs-12.col-sm-6.np
        .panel.panel-primary
            .panel-heading 
                %b
                    Practicum 3
                Technical Vignettes
            .panel-body
                %ul.list-group
                    %li.list-group-item 
                        = link_to v1_home_path do
                            %b #1
                            Navigation Prototype
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v2_home_path do
                            %b #2
                            WebAPIs
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v3_home_path do
                            %b #3
                            Touch Gestures
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v4_home_path do
                            %b #4
                            Twitter and Twillio
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v5_home_path do
                            %b #5
                            Flexbox CSS & Advanced SASS
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v6_home_path do
                            %b #6
                            HTML and the Box Model
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v7_home_path, :"data-no-turbolink" => true do
                            %b #7
                            Paper.js Protractor
                            %span.pull-right.glyphicon.glyphicon-chevron-right
                    %li.list-group-item 
                        = link_to v8_home_path do
                            %b #8
                            JQuery UI Droppable
                            %span.pull-right.glyphicon.glyphicon-chevron-right
            .panel-footer
                CS160 - Intro to UI Design and Development
   